p{
 font: italic 11px;
}
#users h1{
 width: 60%;
 margin: 0 auto;
 padding: 10px 0;
 font: bold 22px "Helvetica Neue", helvetica, arial;
}
#users table{
 width: 60%;
 max-width: 900px;
 margin: 0 auto;
 padding: 10px;
 border: 4px solid #e8f1f6;
 border-collapse: collapse;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-box-shadow: #666 3px 2px 3px;
 -moz-box-shadow: #666 3px 2px 3px;
 box-shadow: #666 3px 2px 3px;
}
#users table thead tr{
 background: #e8f1f6;
 text-align: left;
 border: 0 0 1px 0 solid #e2e2e2;
}
#users table thead th{
 text-align: left;
 padding: 2px;
 margin: 0;
}
#users table tbody tr{
 padding: 5px;
 border: 1px solid #e2e2e2;
}
#users table tbody tr.even{
 background: #fff;
}
#users table tbody tr.odd{
 background: #fafdff;
}
#users table tbody tr.selected{
 background: #dde3ff;
}
#users table tbody td{
 padding: 5px;
}
nav.navigateMe{
 border-right: 1px solid #d71317;
 padding: 0;
 margin: auto;
 height: 40px;
 width: 100%;
 background: #ee151b;
}
nav.navigateMe a.selected{
 background: #d01216;
}
nav.navigateMe a{
 float: left;
 background: #ee151b;
 display: block;
 text-decoration: none;
 padding: 0 32px;
 color: #fff;
 font: 16px Georgia, "Times New Roman", Times, serif;
 line-height: 40px;
 border-left: 1px solid #d71317;
}
nav.navigateMe a:hover,
nav.navigateMe a:focus{
 background: #e7141a;
}
ul.navigateMe{
 list-style: none;
 width: 350px;
}
ul.navigateMe li{
 padding: 5px;
 border: 1px solid #e2e2e2;
}
