#users table{
 width: 60%;
 max-width: 900px;
 margin: 0 auto;
 padding: 10px;
 border: 4px solid #e8f1f6;
 border-collapse: collapse;
 border-radius: 5px;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-box-shadow: #666 3px 2px 3px;
 -moz-box-shadow: #666 3px 2px 3px;
 box-shadow: #666 3px 2px 3px;
}
#users table thead tr{
 background: #e8f1f6;
 text-align: left;
 border: 0 0 1px 0 solid #e2e2e2;
}
#users table thead th{
 text-align: left;
 padding: 2px;
 margin: 0;
}
#users table tbody tr{
 padding: 5px;
 border: 1px solid #e2e2e2;
}
#users table tbody tr.even{
 background: #fff;
}
#users table tbody tr.odd{
 background: #fafdff;
}
#users table tbody tr.selected{
 background: #dde3ff;
}
#userstable tbody td{
 padding: 5px;
}
